<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data from Database</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Request Type</th>
                <th>Date Requested</th>
                <th>Date Requested</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(item) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.requesttype %></td>
                    <td><%= item.requestdate %></td>
                    <td><%= item.progress %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
</body>
</html>