
html, body, .about-me
{
    margin: 7px;
    height: 100%;
}

.navbar .container-fluid, .navbar .dropdown-menu  
{
    background-color: #CE2D4F;
    padding: 10px;
    margin: 1px;
}
.navbar .form-control
{
    background-color: white;
}

.navbar .container-fluid .nav-item a, .navbar-brand
{
    font-family: "Lexend";
    font-weight: 600;
    font-size: x-large;
    color: white;
}
.navbar .container-fluid .nav-item .disabled
{
    color: lightgray;
    align-content: center;
}
.tab
{
    border-left: white solid;
    border-left-style: double;
    height: 100px;
    text-align: center;
    margin: -2px;
    margin-top: -2px;
    align-content: center;
}


.about-me
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.about-me-text
{
    flex-direction: column;
    color: white;
    background-color: #2a3d45;
    width: 50vw;
    text-align: center;
    align-items: center;
    height: 95vh;
}

.my-summary
{
    margin: 20px;
    margin-top: 0px;
    padding: 8px;
    padding-left: 10px;
    font-family: "Lexend";
    font-weight: 400;
    color:white;
    text-align: left;
    background-color: #ce6d8b;
}

.my-summary h1
{
    font-weight: 800;
}

.my-summary h1, .my-summary h2
{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.543);
}

.my-summary p
{
    background: #3e92cc;
    padding: 15px;
    border-radius: 25px;
}
.schools
{
    text-align: center;
    margin-inline: auto;
}

.schoolimg img
{
    border-radius: 100%;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding:20px;
    width: fit-content;
    height: fit-content;
}

.goals
{
    display:flex;
    background-color: rgba(59, 59, 59, 0.699);
    color: white;
    height: fit-content;
    width: fit-content;
    margin-inline: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg-img1
{
    background-image:url(img/classroom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-inner img
{
    width: 800px;
    aspect-ratio: 2/1;
}
.carousel-caption
{
    background-color: rgba(0, 0, 0, 0.53);
}

.contactpage
{
    background-color: #2a3d45;
    color:white;
    font-family: "Lexend";
    font-weight: 500;
    padding: 5px;
}
.contactpage h1, .submit
{
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}
.form-floating label
{
    color:black;
}

.input-group, .input-group-text
{
    margin:0px;
}
.socialcards, #projectgroup
{
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

#projectgroup
{
    font-family: "Arvo";
    border: 1px solid;
    border-radius: 10px;
    background-color: #2a3d45;
    color:white;
    padding: 0px;
    margin: 15px;
}

.projectcard
{
    background-color: #3e92cc;
    border-radius: 5px;
    overflow: hidden;
}

.list-group-item
{
    padding-inline: 7px;
}

.projectcard img
{
    text-align: center;
    max-width: 93%;
    object-fit: cover;
    display: block;
}

.card-title
{
    padding-top: 10px;
    font-weight: 700;
    text-align: center;
    font-size: 1.5vw;
}

.card {
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    aspect-ratio: 1/1;
    background-color: #ce6d8b;
    transition: box-shadow 0.3s; 
}
.card h3
{
    margin: 0px;
}
#navbar-example2 .nav-item
{
    background-color: transparent;
}

#navbar-example2 {
    background-color: #2a3d45;
    position: sticky;
    top: 0;
    z-index: 1050;
}

.skillcard
{
    background-color: white;
    border-radius: 15px;
    padding-bottom: 4px;
    height: fit-content;

}

.card:hover {
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.2);
    color: black;
    transition: transform 0.3s;
    transform: scale(1.05); 
}

  .card-image {
    max-height: 150px;
    object-fit: contain;              
    border-radius: 4px;     
    margin-bottom: 5px;
    transition: transform 0.3s;     
}
.card:hover .card-image
{
    transform: scale(1.025); 
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
    width: 20%;
    padding: 10px;
  }

.requests-table table
  {
    width: 100%;
  }

.requests-table table td
{
    max-height: 300px; /* Set the minimum height for table cells */
    padding: 20px; /* Optional padding to adjust the spacing around content */
}
.requests-table table tr
{
    height: auto;
}

.requests-table th, .requests-table td
{
    text-align: center;
    word-wrap: normal;
    padding: 12px 9px 12px 0px;
    max-width: min-content;
    vertical-align: middle; /* Vertically center the content in the cell */

}
#requesttitle
{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom:double black;
    color: black;
}

.requestform
{
    font-family: "Lexend";
    margin: 10px;
    padding: 15px 10px;
    background-color: #ce6d8b;
    border-radius: 20px;
}

.requestform div
{
    margin: 20px;
}

.requestform label
{
    font-size: 30px;
    color: white;
    border: solid black;
    background-color: black;
    padding: 0px 10px 0px 10px;
    margin-bottom: 16px;
    border-radius: 10px;
}

.submitbutton
{
    background-color: #CE2D4F;
    color: white;
    font-size: 40px;
}

.condensed
{
    width: 40%;
}

.col-auto
{
    max-width: 15%;
}